#primary {
  padding-block: 20px;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

#secondary {
  justify-content: space-between;
  padding: 16px 32px;
  border: 1px solid var(--stroke-color);
}
